.containerPopup{
    background-color: rgb(73, 73, 167);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80vh;
    transform: translate(-50% ,-50%);
    width: 80%;
    border: 2px solid rgb(143, 143, 242);
    border-radius: 10px;
}
.header-popup{
    background-color: rgb(125, 125, 210);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.main-popup{
    padding: 10px;
}

.cursor-pointer span:hover{
    font-weight: bold;
}

.container-bas{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:rgb(50, 50, 135) ;
    color: white;
}
.container-level-up{
    width: 15%;
    background-color: rgb(50, 50, 135);
    border: 2px solid rgb(125, 125, 210);
    padding: 5px;
}
.container-level-up div{
    width: 48%;
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    padding: 2px;
}
.container-level-up div:hover{
    text-align: center;
}
.active{
    background-color: rgb(27, 138, 138);
}

h1, .main-popup{
    color: white;
}

button{
    border-radius: 7px;
    padding: 5px;
    background-color: rgb(111, 194, 111);
    color: white;
    cursor: pointer;
}

.buy{
    font-size: 16px;
}

.level{
    background-color: green;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 0.5em;
}


.disabled-button{
    background-color: rgb(178, 199, 178);
    cursor: not-allowed;
}
.disabled-text{
    background-color: rgb(77, 79, 77);
}