@keyframes moveWorkers0{
    0%,100%{
        left: 1%; /*40px*/
        background-image:url('src/assets/elfe/stand.gif');
        background-size: cover;
    }
    1%{
        background-image:url('src/assets/elfe/aller.gif');
        background-size: cover;
        left: 1%;
    }
    40%{
        background-image:url('src/assets/elfe/aller.gif');
        background-size: cover;
        left:calc(100% - 1% - 90px);;
       
    }
    41%{
        background-image:url('src/assets/elfe/open.gif');
        background-size: cover;
    }
    60%{
        background-image:url('src/assets/elfe/open.gif');
        background-size: cover;
        left:calc(100% -  1% - 90px);
    }
    61%{
        background-image:url('src/assets/elfe/retour.gif');
        background-size: cover; 
    }
    99%{
        background-image:url('src/assets/elfe/retour.gif');
        background-size: cover; 
        left: 1%
    }
    
}

@keyframes moveWorkers1{
    0%,100%{
        left: -0.5%; /*30px*/
        background-image:url('src/assets/human/stand.gif');
        background-size: cover;
    }
    1%{
        background-image:url('src/assets/human/aller.gif');
        background-size: cover;
        left: -0.5%;
    }
    40%{
        background-image:url('src/assets/human/aller.gif');
        background-size: cover;
        left:calc(100% - 0.5% - 90px);
       
    }
    41%{
        background-image:url('src/assets/human/open.gif');
        background-size: cover;
    }
    60%{
        background-image:url('src/assets/human/open.gif');
        background-size: cover;
        left:calc(100% - 0.5% - 90px)
    }
    61%{
        background-image:url('src/assets/human/retour.gif');
        background-size: cover; 
    }
    99%{
        background-image:url('src/assets/human/retour.gif');
        background-size: cover; 
        left: -0.5%
    }
    
}
@keyframes moveWorkers2{
    0%,100%{
        left: -1%; /*20px*/
        background-image:url('src/assets/nain/stand.gif');
        background-size: cover;
    }
    1%{
        background-image:url('src/assets/nain/aller.gif');
        background-size: cover;
        left: -1%;
    }
    40%{
        background-image:url('src/assets/nain/aller.gif');
        background-size: cover;
        left:calc(100% - 1% - 90px);
       
    }
    41%{
        background-image:url('src/assets/nain/open.gif');
        background-size: cover;
    }
    60%{
        background-image:url('src/assets/nain/open.gif');
        background-size: cover;
        left:calc(100% - 1% - 90px)
    }
    61%{
        background-image:url('src/assets/nain/retour.gif');
        background-size: cover; 
    }
    99%{
        background-image:url('src/assets/nain/retour.gif');
        background-size: cover; 
        left:- 1%
    }
    
}

.workers0{
    animation-name: moveWorkers0;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear ;
}

.workers1{
    animation-name: moveWorkers1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear ;
}
.workers2{
    animation-name: moveWorkers2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear ;
}