.container{
    width: 80%;
    margin: 0 0 0 20%;
}
.containerBidule{
    width: 100%;
    height: 130px;
}

.green-background{
    background-image: url('src/assets/foret.png');
    background-size: contain;
}