@import './base.css';
 /* display-flex */
.dpf-row{
    display: flex;
    flex-direction: row;
}
.dpf-column{
    display: flex;
    flex-direction: column;
}

.dpf-j-btw{
    justify-content: space-between;
}

.dpf-a-center{
    align-items: center;
}
.dpf-a-bottom{
    align-items: flex-end;
}

.dpf-j-arround{
    justify-content: space-around;
}
 /* container */
 .container10{
    height: 100%;
    width: 10%;
}
.container20{
    height: 100%;
    width: 20%;
}
.container30{
    height: 100%;
    width: 30%;
}
.container40{
    width: 40%;
    height: 100%;
}
.container60{
    width: 60%;
    height: 100%;
}

.mb{
    margin-bottom: 2em;
}
.padding10{
    padding: 10px;
}

.cursor-pointer{
    cursor: pointer;
}

.text-center{
    text-align: center;
}

.green{
    color: greenyellow
}

.red{
    color: red
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

